[Unit]
Description=iNet wireless daemon
After=dbus.service
Wants=dbus.service

[Service]
ExecStart=/usr/libexec/iwd
Restart=on-failure

[Install]
WantedBy=multi-user.target
